/* ----Home section---- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/template.svg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 20px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
.container nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.container nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    position: relative;

}


.container nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6b6b6b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.container nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-left: 75px;
    font-style: italic;
    margin-top: 15%;
    font-size: 17.5px;
    color: #ffffff;
    opacity: 0;
    transition: color 1s, opacity 1s;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn{
    to {
        opacity: 1;
        color: #000;
    }
}

.header-text h1{
    font-style: normal;
    font-size: 45px;
    margin-top: 20px;
    color: #000000;
}
.header-text h2{
    line-height: 20px;
    font-style: normal;
    font-size: 15px;
    margin-top: 20px;
    color: #2f2e2e;
}

.social-icons a i{
    color: #2e2e2e;
    list-style: none;
    margin: 30px 20px; 
    margin-left: 0px;
    font-size: 30px;
    transition: transform 0.5s;
}

.social-icons a i:hover{
    transform: translateY(-5px);
    color: #525252;
    cursor: pointer;
}

/* ----About me section---- */


.row{
    padding: 65px;
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    color: #000000;
    opacity: 0;
    transition: color 1s, opacity 1s;
    animation: fadeInWhite 2s forwards;
}

.column-left{
    margin-top: 60px;
    flex-basis: 35%;
}

.column-left img{
    width: 100%;
    border-radius: 15px;
}

.column-right{
    margin-top: 70px;
    flex-basis: 60%;
    justify-content: center;
}

@keyframes fadeInWhite{
    to {
        opacity: 1;
        color: #000000;
    }
}

.column-right h1{
    font-size:45px;
}

.column-right p{
    line-height: 25px;
    display: block;
    margin-block-start: 20px;
    margin-block-end: 20px;
    color: #767676;
    font-weight: 250;
}

.technologies-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .skills-section h2{
    margin-top: -45px;
    font-size: 45px;
  }

.skill-box{
    margin-top: 10px;
    padding: 1rem 2rem;
    margin-bottom: 0.4rem;
    margin-right: 1rem;
    font-size: 14px;
    background: rgba(87, 87, 87, 0.192);
    border-radius: 5px;
    font-weight: 600;
    color: #7d7d7d
}

/*------- contact section -------*/ 

.inbox .row{
    margin-top: 160px;
}

.contact-left p i{
    width: 25px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 20px;
}

.contact-right{
    flex-basis: 60%;
}

.subtitle{
    font-size: 50px;
    margin-top: 25px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgba(87, 87, 87, 0.192);
    padding: 15px;
    margin: 15px 0;
    color: #070707;
    font-size: 18px;
    border-radius: 15px;
}

form .submitbtn{
    padding: 14px 60px;
    color: #ffffff;
    display: inline-block;
    background: #878787;
    border-radius: 15px;
    font-size: 18px;
    border: 0;
}

form .submitbtn:hover{
    background-color: #adadad;
    cursor: pointer;
}