<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guillermo Piedra - Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="about-me">
        <div class="banner">
            <div class="container">
                <nav>
                    <img src="/static/images/logo_white.svg" class="logo_white">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="resume">Resume</a></li>
                    </ul>
                </nav>
            </div>
        </div>
            <div class="about-text">
                <div class="container">
                    <div class="row">
                        <div class="column-left">
                            <img src="/static/images/guille.jpg">
                             </div>
                        <div class="column-right">
                            <h1>About me</h1>
                            <p><br>
                                My journey commenced at a young age when I received my first IBM computer, igniting my fascination with the terminal and its potential for action and interaction. This curiosity has been a constant companion, leading me to pursue my initial degree in systems engineering at the Universidad de Oriente (UDO).
                                Having moved from Venezuela to the United States in 2017, I embraced the role of a software engineer at Relevance Lab. In this role, I acquired hands-on experience with a variety of tools and languages, delving into the different sides of DevOps methodology, REST API development, CI/CD, server configuration management, containerization, and bootstrap scripting.</p>
                            <p><br>Beyond my professional experience, what sets me apart is my strong ability to learn quickly and teach myself new concepts and technologies. I've demonstrated this through my self-learning journey, which includes mastering three different languages, teaching myself how to play the piano and guitar, and acquiring new coding languages and tools independently.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>