<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guillermo Piedra - Website</title>
    <script src="https://kit.fontawesome.com/ef23bfbcbb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
            <nav>
                <img src="/static/images/logo.svg" class="logo_white">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="/static/docs/Guillermo_Resume_Software_Engineer.pdf">Resume <i class="fa-solid fa-download"></i></a></li>
                </ul>
            </nav>
                    <div class="row">
                        <div class="column-left">
                            <img src="/static/images/guille.jpeg">
                        </div>
                        <div class="column-right">
                            <h1>About Me</h1>
                            <p>
                                My journey commenced at a young age when I received my first IBM computer, igniting my fascination with the terminal and its potential for action and interaction. This curiosity has been a constant companion, leading me to pursue my initial degree in systems engineering at the Universidad de Oriente (UDO).
                                Having moved from Venezuela to the United States in 2017, I embraced the role of a software engineer at Relevance Lab. In this role, I acquired hands-on experience with a variety of tools and languages, delving into the different sides of DevOps methodology, REST API development, CI/CD, server configuration management, containerization, and bootstrap scripting.</p>
                            <p>Beyond my professional experience, what sets me apart is my strong ability to learn quickly and teach myself new concepts and technologies. I've demonstrated this through my self-learning journey, which includes mastering three different languages, teaching myself how to play the piano and guitar, and acquiring new coding languages and tools independently.</p>
                            <div class="skills-section">
                                <h2><br>Skills</h2>
                                <div class="technologies-container">
                                    <div class="skill-box">Python</div>
                                    <div class="skill-box">HTML</div>
                                    <div class="skill-box">CSS</div>
                                    <div class="skill-box">Bash</div>
                                    <div class="skill-box">Jenkins</div>
                                    <div class="skill-box">Flask</div>
                                    <div class="skill-box">GIT</div>
                                    <div class="skill-box">PowerShell</div>
                                    <div class="skill-box">AWS</div>
                                    <div class="skill-box">Azure</div>
                                    <div class="skill-box">DevOps</div>
                                    <div class="skill-box">CI/CD</div>
                                </div>
                            </div>
                        </div>
                    </div>
            
    </div>
</body>
</html>