<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guillermo Piedra - Website</title>
    <script src="https://kit.fontawesome.com/ef23bfbcbb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- Home -->
    <div id="header">
        <div class="container">
            <nav>
                <img src="/static/images/logo.svg" class="logo_white">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="resume">Resume</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav>
        <div class="header-text">
            <p>Welcome to my digital space!</p>
            <h1>I'm Guillermo Piedra,<br> a software engineer based <br> in Austin, TX. </h1>
            <h2>Dedicated to building innovative solutions that address <br> business challenges on a large scale.</h2>
            <div class="social-icons">
                    <a href="https://github.com/BillyRockz"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/guillermo-piedra-47a89ba5/"><i class="fab fa-linkedin"></i></a>
                    <a href="mailto:guillermopr95@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
</body>
</html>